@use 'variables' as *;

.footer {
  background-color: $background-alternative;
  padding: $padding;
  text-align: center;
  color: $font-color-secondary;
  font-size: 0.9rem;
}

.footer a {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }
}

.footer .social {
  display: flex;
  justify-content: center;
  gap: $margin;
}

.footer .social a {
  color: $icon-color;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer .social a:hover {
  color: $accent-color;
}
