html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: $padding;

  img {
    max-width: 100%;
    height: auto;
  }
}
