.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: $padding;
  color: $font-alternative-color;
}
  
.footer .social a {
  color: $font-alternative-color;
  text-decoration: none;
  font-size: 3rem;
}
