/* technology.scss */
@use 'variables' as *;

.landingpage {
  display: grid;
  gap: $margin;
  grid-template-columns: repeat(3, 1fr);
}

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 1.5rem;
  color: $font-color-primary;
}

.box {
  padding: $padding;
  //border: 1px solid $background-alternative;
  border-radius: 20px;
  background-color: $background-secondary;
  color: $font-color-primary;
  transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: $box-shadow-hover;
  cursor: pointer;
}

.box.span1 {
  grid-column: span 1;
}

.box.span2 {
  grid-column: span 2;
}

.box.span3 {
  grid-column: span 3;
}

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: $margin;
  box-sizing: border-box;
  width: 100%;
  padding: $padding;
}

.technology aside {
  flex: 1 1 30%;
  max-width: 30%;
  padding: $padding;
  background-color: $background-alternative;
  color: $font-color-secondary;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-right: 1px solid $background-primary;
  box-sizing: border-box;
}

.technology article {
  flex: 3 1 60%;
  max-width: 70%;
  padding: $padding;
  background-color: $background-secondary;
  color: $font-color-primary;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .landingpage {
    grid-template-columns: 1fr;
  }

  .landingpage h1 {
    grid-column: span 1;
  }

  .box {
    grid-column: span 1 !important;
  }

  .technology {
    flex-direction: column;
    align-items: stretch;
  }

  .technology aside {
    display: none;
  }

  .technology article {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
