@use 'sass:color';
@use 'variables' as *;

body {
  font-family: 'Sour Gummy', sans-serif;
}

p,
li,
span {
  font-family: 'Roboto', sans-serif;
  color: $font-color-primary;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-primary;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: color.adjust($accent-color, $lightness: -15%);
  }
}
